<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>썸웨어</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaodfa56e763013a7867d10e02ff91955ee</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb391080511351341</string>
				<string>com.googleusercontent.apps.76614601538-6vfup0h2t028bithv7f4j1en454cht06</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>37cb50ad48becdce2bebe2a66c6f89db3d59f61a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>391080511351341</string>
	<key>FacebookDisplayName</key>
	<string>갈래말래</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>KAKAO_APP_KEY</key>
	<string>dfa56e763013a7867d10e02ff91955ee</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb-messenger-share-api</string>
		<string>fbshareextension</string>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>com.googleusercontent.apps.76614601538-6vfup0h2t028bithv7f4j1en454cht06</string>
		<string>kakaodfa56e763013a7867d10e02ff91955ee</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-4.5.0</string>
		<string>kakaostory-2.9.0</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This application will use the camera for Augmented Reality.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>위치기반 컨텐츠 추천을 위해 GPS정보가 필요합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 데이터 허용에 동의 하시겠습니까?</string>
	<key>UIAppFonts</key>
	<array>
		<string>KoreanSWGI1.otf</string>
		<string>KoreanSWGI2.otf</string>
		<string>KoreanSWGI3.otf</string>
		<string>KoreanSWGI4.otf</string>
		<string>godoRounded L.ttf</string>
		<string>godoRounded R.ttf</string>
		<string>godoMaum.ttf</string>
		<string>BMHANNA.otf</string>
		<string>BMJUA.otf</string>
		<string>NotoSans-Bold.otf</string>
		<string>NotoSans-Light.otf</string>
		<string>NotoSans-Medium.otf</string>
		<string>NotoSans-Regular.otf</string>
		<string>NanumSquareRoundB.ttf</string>
		<string>NanumSquareRoundEB.ttf</string>
		<string>NanumSquareRoundR.ttf</string>
		<string>NanumSquareRoundL.ttf</string>
		<string>OTGulimL.otf</string>
		<string>OTGulimM.otf</string>
		<string>OTGulimB.otf</string>
		<string>OTGulimH.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
